<h1><a href="/container/<%=@name%>"><%=@name%></a>:<%=@tag%></h1>
<hr>

<div class="row">
  <div class="col-md-2">
    <b>Architecture</b>
  </div>
  <div class="col-md-10">
    <%= @container_info['architecture'] %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">
    <b>Tags</b>
  </div>
  <div class="col-md-10">
    <% for tag in @container_tags do %>
      <a href="/container/<%=@name%>/<%=tag%>"><%=tag%></a><br/>
    <%end%>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2">
    <b>Layers</b>
  </div>
  <div class="col-md-10">
    <% for layer in @container_info['fsLayers'] do %>
      <%=layer['blobSum'].gsub('sha256:', '')%><br/>
    <%end%>
  </div>
</div>
